.CartList{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    background: linear-gradient(191deg, rgba(67,138,245,1) 0%, rgba(110,0,175,1) 70%);
    border-radius: 26px;
}
.texto{
    margin-top: 78px;
}
.CartList i{
    font-size: 45px;
    color: red;
    margin-top: 8rem;
}
.imagenItem{
    margin: 18px;
    width: 130px;
    height: 155px;
    border-radius: 6%;
}