.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
}
.navegador{
  background: linear-gradient(357deg, rgba(7,0,36,1) 0%, rgba(121,9,9,1) 35%, rgba(0,212,255,1) 100%);
}
.categorias{
  display: flex;
  flex-direction: row;
    justify-content: space-evenly;
  padding: 14px 0px 14px 0px;
}

.carrito{
  display: flex;
}
.img{
  height: 28px;
  width: 52px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
