.Lista{
    display: flex;
}
.ListGroup{
    display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 24px 40px; 
  grid-template-areas: 
    ". . ."
    ". . ."
    ". . .";
}
.CardItem{
    background: radial-gradient(circle, rgba(55,132,247,1) 0%, rgba(144,8,231,1) 100%);
    border-radius: 26px;
    width: 388px;
    margin-left: 116px;
}
.Header{
    padding: 10px 10px 0px 10px;
}
.itemImg{
    margin: 18px;
    width: 188px;
    height: 303px;
    border-radius: 6%;
}